<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <body>
    <h1>The Sampler</h1>
    <p>Chapter 3 of Mike Hartl's <a href="http://www.railstutorial.org/">Rails Tutorial</a> guide.</p>
  </body>
</html>